body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
	color: white;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 10px;
	transition: background 0.4s;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4;
}

#container {
	max-width: 600px;
	margin: 20px auto;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

.selected {
	background: steelblue;
	color: white;
}

h1 {
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: background 0.3;
}

#titleSpan {
	font-size: 200%;
}

button {
	border: none;
	font-family: "Montserrat", "Avenir";
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	font-size: inherit;
	letter-spacing: 1px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}

#message {
	display: inline-block;
	width: 20%;
	color: black;
}
